body {
    color: black;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    /* FONT IMPORTED FROM GOOGLE FONTS*/
    font-size: 20px;
    background-repeat: no-repeat;

}

h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 80%;
    margin: auto;
    background-color: white;
}


/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

header {
    height: 50px;
    /*    BEN: remove padding on left/right so everything lines up*/
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*************************************************************************/
/***************************** H1 & Animations ***************************/
/*************************************************************************/

h1 {
    /*    BEN: remove padding on left so everything lines up*/
    font-size: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*    height: px;*/
    text-align: center;
    float: left;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: cyan;
}

h1 a::before {
    color: black;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;

    position: absolute;
    top: 4%;
    width: 0%;
    transition: all ease-in-out 500ms;
}

h1 a:hover::before {
    width: 15%;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 1px solid grey;
    /*    BEN: remove the padding on the top so it aligns with top of image*/
    padding: 0 0 10px 0;
    letter-spacing: 1px;
    color: #000000;

    /*    BEN: rather than having the <br> in the html (not semantic) adjust the margin in the css to create spacing between paragraphs */
    margin-bottom: 32px;

    /*    BEN: change to display inline block so the border odens't extend below the image*/
    display: inline-block;
}

h3 {
    /* Used on pages with subheadings (e.g. design.html*/
    font-size: 20px;
    margin-bottom: 32px;
    display: inline-block;
    font-weight: bold;
}

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

.logo {
    float: left;
    size: 10px;
}

/* This is the navigation section */
/*************************************************************************/
/*************************************************************************/

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    color: cyan;
}

nav a::before {
    color: black;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    /* Animation bar*/

    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 650ms;
}

nav a:hover::before {
    /* Determines animation bar width*/
    width: 100%;
}

a.active {
    /* Shows the currently active page*/
    color: #72FEFE;
    background-color: #000000;
    padding-right: 5px;
    padding-left: 5px;
}

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

main {
    /*    BEN: just set the main padding on the top and bottom, not all sides, or it will ruin alignment with footer later on*/
    padding: 50px 0;
    /*    BEN: don't set the height on the main, let it grow or shrink with the content */
    /*    height: 600px;*/
    /*    BEN: don't set the width on the main */
    /*    width: 560px;*/
    letter-spacing: 0.5px;
    float: right;
    text-align: left;
}

.inline-left {
    float: left;
    max-width: 60%;
    margin-right: 30px;
    margin-bottom: 30px;
}

p.clear {
    clear: left;
}

/*************************************************************************/
/*************************** FOOTER **************************************/
/*************************************************************************/

footer {
    clear: both;
    height: 20px;
    padding: 20px 0;

}

/*************************************************************************/
/***************************** Gallery ***********************************/
/*************************************************************************/

.leftimg {
    width: 45%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    float: left;
}

.column {
    flex: 33%;
    max-width: 33%;
}

.column img {
    width: 100%;
}

.gallery img {
    padding: 5px;
    /* changes image to be black/white before being hovered upon*/
    filter: grayscale(100%);
    transition: 0.5s;
}

.gallery img:hover {
    /* changes image to be full colour when hovered upon rather than gray */
    filter: grayscale(0);
    transform: scale(1.1);
}

/*************************************************************************/
/*************************** Paragrah Customisations *********************/
/*************************************************************************/

p {
    line-height: 30px;
    font-size: 18px;
    /*    BEN: rather than having the <br> in the html (not semantic) adjust the margin in the css to create spacing between paragraphs */
    margin-bottom: 32px;
}

.link-text a {
    text-decoration: none;
    color: #39CCCC;
}

.link-text a:hover {
    /* Used to indicate that some text can be clicked on to take you elsewhere*/
    color: darkblue;
}

a.link-text {
    text-decoration: none;
    color: #39CCCC;
}

a.link-text:hover {
    color: darkblue;
}

/*************************************************************************/
/***************************** Footer Customisations *********************/
/*************************************************************************/

.footer {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #000000;
}